<ion-header>
  <ion-navbar>
    <ion-title>
      Pedir turno ahora
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item>
        <ion-label>Sucursales</ion-label>
        <ion-select>
          <ion-option *ngFor="let sucursal of sucursales$" (ionSelect)="seleccionSucursal($event)" > {{sucursal.nombre}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div *ngIf="sucursalSeleccionada">
        <button ion-button (click)="irAhora()">
            Ir Ahora
        </button>
        <h3>{{mensajeIrAhora}}</h3>
    </div>
    <div  *ngIf="mensajeIrAhora">
      <button ion-button (click)="encolar()"> Tomar Turno </button> 
      <h3>{{mensajeTurnoComunAhora}}</h3>   
    </div>


</ion-content>
